body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.chat {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 15px;
    overflow-y: scroll;
    max-height: 400px; /* Limit chat container height and add scroll if needed */
}

.message {
    max-width: 70%; /* Adjust based on your design */
    padding: 15px;
    border-radius: 20px;
    word-wrap: break-word;
}

.sent {
    background-color: #007bff; /* Blue */
    align-self: flex-end;
}

.received {
    background-color: #444; /* Dark gray */
    align-self: flex-start;
}

.input-form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.input-field {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background-color: #2b2b2b;
    margin-right: 10px;
    color: #fff;
}

.send-button {
    padding: 12px 25px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.send-button:hover {
    background-color: #0056b3;
}
ul {  
    list-style-type: none;  
    font-weight: normal;  
    font-size: 20px;  
    }  